.home-blog-list {
  list-style: none;
  border-style: solid;
  margin: 4px 0px 4px 0px;
  padding-top: 5px;
}

.blog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

.users-header-row {
  font-weight: bold;
  display: flex;
}

.users {
  display: flex;
}

.navigation-bar {
  padding: 5px 0px;
  background-color: lightgrey;
}

.navigation-bar > a {
  padding: 0px 5px;
}
.navigation-bar > button {
  margin: 0px 5px;
}
