.home-blog-list {
  list-style: none;
  border-style: solid;
  margin: 4px 0px 4px 0px;
  padding-top: 5px;
}

.blog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

.users-header-row {
  font-weight: bold;
  display: flex;
}

.users {
  display: flex;
}

.user-logged-in {
  padding: 16px 0px 16px 0px;
}
